#snake-field {
    display: inline-block;
}
#snake-start, #snake-renew {
    width: 150px;
    padding: 15px;
    color: white;
    background-color: green;
    text-align: center;
    cursor: pointer;
    float: left;
    margin-right: 10px;
}
.game-table {
    border-collapse: collapse;
    background-color: #3e3e3e;
}
td.game-table-cell {
    width: 15px;
    height: 15px;
    border: 1px dotted #eee;
}
.snake-unit {
    background-color: rgb(214, 146, 8);
}
.food-unit {
    background-color: red;
}
.buttons {
    display: inline-block;
}
.wrap {
    margin: 30px auto 0;
    text-align: center;
}

#big-map, #small-map, #default {
    width: 100px;
    padding: 5px;
    color: white;
    background-color: green;
    text-align: center;
    cursor: pointer;
    float: left;
    margin-right: 10px;
}
.buttons2 {
    display: inline-block;
}